
@{
    ViewBag.Title = "Success";
}
<div class="jumbotron">
    <div class="jumbotron text-xs-center" style="text-align:center;">
        <h1 class="display-3">ชำระเงินสำเร็จ</h1>
        <p class="lead"><strong>ระบบกำลังรอการยืนยันธุรกรรมจากธนาคาร</strong> กรูณารอสักครู่....</p>
        <hr>
        <p>
            ขอบคุณที่เชื่อมั่นในสินค้าของเราค่ะ 
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="@Url.Action("Redirect", "Success")" role="button" style="font-size:24px;">กลับไปที่ Application</a>
        </p>
    </div>
</div>

