
@{
    ViewBag.Title = "Redirect";
}
<div class="jumbotron">
    <div class="jumbotron text-xs-center" style="text-align:center;">
        <p class="lead">กำลังกลับไปที่ Application....</p>
    </div>
</div>

